* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #69be29;
    --blue: #38b086;

    --light-gray: #D3D3D3;
    --B100: #1A1A1A; 
    --B75: #363636;  
    --B50: #525252;  
    --B25: #6E6E6E;  
    --B10: #8A8A8A;  
    --B5: #A6A6A6;   

    --W100: #FFFFFF; 
    --W75: #F5F5F5;  
    --W50: #E8E8E8;  
    --W25: #DCDCDC;  
    --W10: #C0C0C0;  
    --W5: #A9A9A9;  
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--W10);
}

.navbar {
    background: var(--W10);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

.main-menu ul li {
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 50px 0px 50px;
}
.nav-link {
    text-decoration: none;
    color: var(--B100);
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.introduction-section {
    margin: 60px 0px 0px 0px;
    padding: 60px 60px 80px 60px;
    background-color: var(--W10);
}
.introduction-section .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.profile-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-text h1 {
    text-decoration: none;
    color: var(--B100);
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
}

.profile-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.profile-links a {
    text-decoration: none;
    color: var(--B100);
    font-weight: 600;
}

.about-section {
    padding: 30px 0px 30px 0px;
    background-color: var(--W25);
}

.about-section .container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.about-section .container div{
    width: 100%;
}

.about {
    width: 50%;
    padding: 10px 30px 10px 30px;
}

.research {
    width: 50%;
    padding: 10px 30px 10px 30px;
}

footer {
    background-color: #69be29;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.mobile-navbar {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    border-radius: 20px;
    width: calc(100% - 100px);
    max-width: 1200px;
    background-color: var(--W25);
    box-shadow: 0px 1px 2px var(--W50);
   
}

.mobile-navbar .container {
    position:relative;
}

.mobile {
    position: absolute;
    top: 10px;
    right: 30px;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.mobile-menu li {
    padding: 5px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

.mobile-menu li a{
    text-decoration: none;
    color: var(--B100);
    font-weight: 600;
    font-size: 1em;
}



.hamburger-closed {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-closed.active{
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.25s;
    position: relative;
}
  
.hamburger-closed .hamburger-top,
.hamburger-closed .hamburger-middle,
.hamburger-closed .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: var(--W100);
}

.hamburger-closed .hamburger-middle {
    transform: translateY(8px);
}
  
.hamburger-closed .hamburger-bottom {
    transform: translateY(16px);
}

.hamburger-opened {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transform: rotate(90deg);
    transform: translateY(0px);
    position: relative;
}

.hamburger-opened.active {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transform: rotate(90deg);
    transform: translateY(0px);
    position: relative;
}

.hamburger-opened span {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
}
    
.hamburger-opened .hamburger-top {
    background: #fff;
    transform: rotate(45deg) translateY(6px) translate(6px);
}
  
.hamburger-opened .hamburger-bottom {
    transform: translateY(16px);
    background: #fff;
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@media (max-width: 960px){
    .navbar {
        display: none;
    }
 
    .mobile-navbar {
        display: block;
    }

    .about-section .container {
        display: flex;
        flex-direction: column;
    }

    .introduction-section .container {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .profile-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .profile-image {
        width: 80%;
        margin-bottom: 20px;
    }
}


/* @media (max-width: 670px){
  
} */
